@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800&display=swap');

/* * {
    outline: 1px solid red;
} */

:root {
    font-family: 'Red Hat Display', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-size: clamp(15px, 2rem, 1vw);

    --white: #F9F6F7;

    --light-gray: #F9F6F7;
    --gray: #c1c1c9;
    --dark-gray: #6a6864;

    --black: #151514;

    --info: #19df86;
    --dark-info: #106e27;

    --warning: #F78812;
    --dark-warning: #663909;

    --error: #AF2D2D;
    --dark-error: #5e1919;

    --critical: #630606;
    --dark-critical: #300303;

    --bright-green: #6cdf15;
    --green: #68b130;
    --dark-green: #243D25;

    --bright-red: #FF1E00;
    --pink: #ff569f;
    --dark-red: #2D132C;

    --bright-yellow: #ffdf52;
}

/* ANCHOR Scroll Bar */

*::-webkit-scrollbar {
    width: .25em;
    height: .25em;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5rem;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
    border-radius: 5rem;
}


body {
    margin: 0;
    height: 100vh;

    color: var(--black);

    display: grid;
    grid-template-columns: minmax(80px, 5vw) 2fr 2fr;
    grid-template-areas:
        "nav header header"
        "nav main main"
        "nav main main"
        "nav main main"
        "nav footer footer";

    background-color: var(--white);
}

img.icon {
    width: 1.5rem;
    height: 1.5rem;

    padding: .5rem;
    margin: auto;

    filter: invert(.15);
}

/* SECTION Header */

header {
    grid-area: header;

    max-height: max-content;
    z-index: 2;

    padding: 0 0 .2rem 0;

    background-color: var(--gray);

    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/* SECTION Top Header */

header section.top {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1fr 1fr .25fr 1fr;
    grid-template-areas:
        "search search . . notification profile";
    gap: 1rem
}

/* ANCHOR Search Adjustments */

div.search {
    grid-area: search;
    align-self: center;

    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-areas:
        ". search cancel"
        "dialog dialog dialog";

    min-width: 300px;

    position: relative;
}

div.search::before {
    content: '';

    height: 3rem;
    width: 4rem;
    min-width: 2rem;
    margin: 1rem 0 1rem 1rem;

    position: relative;
    left: 1rem;

    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;

    background: var(--light-gray) no-repeat center / 1.2rem url(./assets/web/icon-other/magnifying-glass-solid.svg);
}

#search {
    grid-area: search;
    height: 3rem;
    min-width: max(10rem, 20px);
    margin: 1rem 0;
    padding-left: 1.2rem;

    border: none;

    font-family: 'Red Hat Display', sans-serif;

    flex: 1;
    background-color: var(--light-gray);

    transition: .3s;

    z-index: 2;
}

#search:focus-visible {
    outline: none;
}

span.search-cancel {
    grid-area: cancel;
    height: 3rem;
    width: 4rem;

    margin: 1rem 0;

    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

    background: var(--light-gray);
}

#search+span.search-cancel.show {
    z-index: 2;

    background: url(./assets/web/icon-other/xmark-solid.svg) no-repeat center / .8rem var(--light-gray);

    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: 1;
}

/* ANCHOR Search Dialog Adjustments */

.search-dialog {

    position: fixed;
    top: 59px;
    left: 110px;

    min-width: max-content;

    padding: .5rem 1rem 1rem;

    background-color: var(--light-gray);

    display: grid;

    z-index: 1;
    transition: .5s;

    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

div.search:focus-within::before {
    border-bottom-left-radius: 0rem;
}

div.search:focus-within::before,
div.search:has(a:active)::before {
    border-bottom-left-radius: 0rem;
}

/* #search:focus+.search-cancel {
    border-bottom-right-radius: 0rem;
} */

.search-dialog .results.head {
    font-weight: 600;
    font-size: 1rem;
}

.search-dialog .results.body {
    font-weight: 500;
    font-size: .8rem;

    padding-top: .5rem;
}

.results.body .result.none {
    opacity: .7;
}

div.result.find {
    padding: .5rem 0;

    color: gray;

    display: block;

    cursor: pointer;

    transition: .2s;
}

div.result.find:hover {
    color: var(--black)
}

/* ANCHOR Month Selection */
div.month.select {
    margin: auto;

    display: flex;
    align-items: center;

    position: relative
}

input[type="month"]#month {
    height: 2.95rem;

    font-family: 'Red Hat Display', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;

    appearance: none;

    border-radius: .5rem;
    padding: 0 .8rem;
    margin: auto 1rem;

    outline: none;
    border: none;

    background-color: var(--light-gray);

    cursor: pointer;
}

/* ANCHOR Notification Bell */

div.notification.menu {
    grid-area: notification;
    align-self: center;
    justify-self: center;

    display: flex;
    align-items: center;

    border-radius: 50%;
    border: .2rem solid var(--light-gray);

    position: relative;

    cursor: pointer;
}

div.notification.menu:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div.notification.menu.notify::after {
    content: '';
    border: .34rem solid var(--bright-red);
    background-color: var(--bright-red);
    border-radius: 5rem;

    bottom: 0;
    right: 0;

    position: absolute;
}

div.notification.selection {
    position: absolute;
    top: 10%;
    right: 15.65%;

    min-width: max(20vw, 15rem);

    border-radius: .5rem;

    background-color: var(--light-gray);

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    z-index: 12;

    display: grid;
    grid-template-rows: .9fr 1.15fr;

    overflow: hidden;
}

.notification.header {
    padding-left: 1rem;

    height: 1rem;

    font-weight: 700;
}

.notification.body {
    background-color: var(--white);

    min-height: 10%;
    margin: 0 0 1rem;

    box-shadow: inset 0px 6px 10px -5px rgba(0, 0, 0, 0.1);
}

.notification.message {
    padding-left: 1rem;

    font-size: .8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .6rem;

    margin: 0 .5rem 0 0;
}

div.notification.message-close {
    background: url(./assets/web/icon-other/xmark-solid.svg) center / .5rem no-repeat;

    width: 2rem;
    height: 2rem;

    cursor: pointer;

}

div.notification.message-close:hover {
    filter: invert(12%) sepia(58%) saturate(6955%) hue-rotate(357deg) brightness(94%) contrast(94%);
}

div.notification.none {
    text-align: center;
    padding: 1rem 0;

    font-size: .8rem;
    font-weight: 600;
    opacity: .5;

    box-shadow: inset 0px 6px 10px -5px rgba(0, 0, 0, 0.1);

}

/* ANCHOR Profile */
.profile.main {
    grid-area: profile;
    justify-self: end;

    text-align: center;

    width: max-content;
    margin: 0 1.5rem 0 .25rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;

    cursor: pointer;

    position: relative;

    transition: .2s;
}

.profile.main::after {
    content: ' ';

    position: absolute;
    left: 4.2%;

    width: 25%;
    height: 45%;
    border-radius: 50%;

    z-index: 6;
}

.profile.main.online::after {
    border: 3.5px solid var(--bright-green);
}

.profile.main.busy::after {
    border: 3.5px solid var(--bright-red);
}

.profile.main.offline::after {
    border: 3.5px solid var(--gray);
}


.profile.main:hover>* {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.profile.image {
    width: 2.5rem;
    height: 2.5rem;

    margin: .15rem;
    padding: 0;

    border-radius: 50%;
    border: .3rem solid var(--light-gray);
}

.profile.image.side {
    margin-right: -3.32rem;

    z-index: 2;
}

.profile.name {
    font-weight: 700;

    margin: 0;
    padding: 1rem .5rem 1rem 3.5rem;

    border-radius: 2rem;
}

.profile.selection {
    position: absolute;
    top: 11.5%;
    right: 1.95%;

    background-color: var(--white);

    z-index: 12;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    justify-items: center;

    font-weight: 600;

    padding: 1rem;
    min-width: 10rem;

    border-radius: .5rem;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile.selection input[type="radio"] {
    appearance: none;

    z-index: 12;
}

.status.main>input {
    border: .1rem solid var(--black);
    border-radius: 2rem;

    height: 1rem;
    width: 1rem;

    margin: 0 -1.35rem 0 .6rem;

    cursor: pointer;
}

.status.main>label {
    font-size: .7rem;
    font-weight: 400;
    position: relative;

    bottom: .25rem;

    padding: .25rem .4rem .25rem 1.5rem;

    border: 1px solid var(--black);
    border-radius: 2rem;

    cursor: pointer;
}

.status.main>input#online:checked {
    background-color: var(--bright-green);
}

.status.main>input#offline:checked {
    background-color: var(--gray);
}

.status.main>input#busy:checked {
    background-color: var(--bright-red);
}

.profile.login input+label {
    box-sizing: border-box;
    display: contents;
}

.profile.login input+label img {
    width: 3rem;
    height: 3rem;
    border: .4rem solid var(--white);
    border-radius: 10rem;

    padding: 0;
    margin: 0;

    opacity: .7;

    cursor: pointer;
}

.profile.login input:checked+label img {
    opacity: 1;
}

.profile.login input#john:checked+label img {
    border: .4rem solid var(--gray);
}

.profile.login input#margaret:checked+label img {
    border: .4rem solid var(--pink);
}

.profile.login input#alex:checked+label img {
    border: .4rem solid var(--green);
}

/* !SECTION */

/* SECTION Bottom Header */

header section.bottom {
    margin: 0 1rem 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    /* gap: clamp(50px, 5rem, 500px) */
    /* gap: 2rem; */
}

div.title {
    display: flex;
    align-items: center;
    gap: .5rem;

    flex-basis: 50%;
}

img.profile.main {
    width: 6rem;
    height: 6rem;
}

.greeting>h1 {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: .5rem;
    width: max-content;
}

.greeting>h4 {
    font-weight: 600;
    margin-top: 0;
    color: var(--dark-gray);
}

/* ANCHOR Header Buttons */

.header.icons {
    display: flex;
    align-items: center;
    gap: 1.5em;

    padding: .7rem 0 1rem;

}

button.icon {
    width: 4.5rem;

    box-sizing: border-box;

    padding: 0;

    border: .2rem solid var(--light-gray);
    border-radius: 50rem;

    background-color: var(--light-gray);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

img.header.icon {
    height: 1.25rem;
    width: 1.25rem;

    padding: .2rem;
}

button.icon:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* !SECTION */

/* !SECTION */

/* !SECTION */

/* SECTION Navigation */

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav {
    min-width: max-content;
    grid-area: nav;
    position: relative;

    overflow: hidden;

    transition: all .5s ease;

    z-index: 100;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

    transition: .2s;
}

nav:hover {
    overflow: visible;

}

div.nav {
    height: 100%;
    min-width: max-content;

    display: flex;
    flex-flow: column nowrap;

    overflow: hidden;

    position: absolute;

    background-color: var(--gray);

    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.nav.struct {
    display: grid;
    grid-template-columns: minmax(80px, 5vw) 1fr .1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    gap: 1em;
}

.struct.logo {
    margin-top: 0.5rem;
}

nav:hover .nav.struct.logo {
    grid-template-rows: 1fr .25fr;
    grid-template-columns: 1fr;
    gap: 0;
    justify-items: center;
}

nav:hover .nav.struct.logo>.logo.text {
    margin: auto;
    padding: 0;

    font-weight: 700;
    font-size: 1.5rem;
}

.struct.logout {
    margin-bottom: 0.5rem;
}

li.nav {
    opacity: 0.6;

    transition: .2s;

    cursor: pointer;
}

.nav>img {
    margin: 1rem .5rem;
    padding: 0;
    width: max(40px, 3.5vw);
}

.nav>.text {
    font-weight: 500;

    justify-self: start;
    align-items: center;

    position: relative;
}

.nav.top,
.nav.bottom {
    margin-top: auto;
}

p.text {
    padding-left: .8rem;
}

li.nav:hover {
    opacity: 0.89;
}

li.nav.selected {
    opacity: 1;
}

li.nav.selected>.text::before,
li.nav:hover>.text::before {
    content: '';
    width: .45rem;
    height: 3rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;

    background-color: var(--black);

    left: -1.5rem;
    top: -0.9rem;

    display: block;

    position: absolute;
}

/* !SECTION */

/* SECTION Main */

main.body {
    /* margin: 0.5rem; */
    grid-area: main;

    display: grid;
    grid-template: 2fr repeat(3, 1fr) / repeat(3, 1fr);
    /* grid-template: repeat(4, 1fr) / repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-areas:
        "alert alert alert"
        "larticle larticle larticle"
        "larticle larticle larticle"
        "larticle larticle larticle";
    gap: 2rem 2rem;

    overflow-y: auto;
}

/* SECTION Alert */

section.alert {
    margin: .5rem;
    padding: 1rem 1rem 0 1rem;

    border-radius: .7rem;

    grid-area: alert;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2.5rem;

    background: linear-gradient(150deg, var(--light-gray), var(--gray));

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.alert.overview {
    display: grid;
    grid-template-columns: 3rem repeat(2, 1fr) 1fr;
    grid-template-rows: 1fr .5fr;
    align-items: center;
    justify-content: start;

    position: relative;

    overflow: hidden;

    border-radius: 1rem;

    margin: 1rem 0 -2rem 0;
    padding-left: 1rem;
    padding-bottom: 1rem;

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.alert.overview>* {
    z-index: 1;
}

/* ANCHOR Background Arrow Setup  */

.alert.overview.down::before {
    content: '';
    height: 100%;
    width: 100%;

    top: -1rem;
    left: 5rem;

    position: absolute;

    background:
        url(./assets/web/icon-other/arrow-down-solid.svg) bottom 1rem left 1rem / 13rem 13rem no-repeat;
    filter: invert(48%) sepia(79%) saturate(9312%) hue-rotate(86deg);
}

.alert.overview.down::after {
    content: '';
    height: 100%;
    width: 100%;

    top: -1rem;
    left: 5rem;

    position: absolute;

    opacity: 0.4;

    background:
        url(./assets/web/icon-other/arrow-down-solid.svg) top 2rem center / 4rem 4rem space space;

    filter: invert(48%) sepia(79%) saturate(9312%) hue-rotate(86deg);
}

.alert.overview.up::before {
    content: '';
    height: 100%;
    width: 100%;

    top: .06rem;
    left: 5rem;

    position: absolute;

    background:
        url(./assets/web/icon-other/arrow-up-solid.svg) top 1.2rem left .9rem / 13rem 13rem no-repeat;
    filter: invert(48%) sepia(79%) saturate(9312%) hue-rotate(360deg);
}

.alert.overview.up::after {
    content: '';
    height: 100%;
    width: 100%;

    top: .06rem;
    left: 5rem;

    position: absolute;

    opacity: 0.4;

    background:
        url(./assets/web/icon-other/arrow-up-solid.svg) top .01rem center / 4rem 4rem space space;
    filter: invert(48%) sepia(79%) saturate(9312%) hue-rotate(360deg);
}

.alert.overview.info {
    background: linear-gradient(150deg, var(--info), var(--dark-info));
    color: var(--white);

    overflow: hidden;
}

.alert.overview.warning {
    background: linear-gradient(150deg, var(--warning), var(--dark-warning));
    color: var(--white);

    overflow: hidden;
}

.alert.overview.error {
    background: linear-gradient(150deg, var(--error), var(--dark-error));
    color: var(--white);

    overflow: hidden;
}

.alert.overview.fatal {
    background: linear-gradient(150deg, var(--critical), var(--dark-critical));
    color: var(--white);

    overflow: hidden;
}

.alert.overview.in>.icon {
    filter: invert(1);
}

.alert.icon {
    grid-column: 1 / 2;
}

.alert.number {
    font-size: 3rem;
    font-weight: 800;

    opacity: .9;

    margin: 0;

    grid-column: 2;
}

.alert.text {
    margin: 0;

    font-weight: 700;

    grid-column: 1 / 4;
    grid-row: 2;
}

.alert.arrow {
    grid-column: 4;
    grid-row: 1 / -1;

    height: 3rem;
    width: 3rem;
}


/* !SECTION */

/* SECTION Article Low*/

section.article.low.gr {
    grid-area: larticle;

    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
    justify-content: center;

    margin: .7rem;

}

/* SECTION Graph */

section.graph {
    /* padding: 1rem; */
    min-height: 280px;
    /* min-height: 100px; */
    min-width: 62vw;

    flex: 2 0 calc(100vw*2/3);
}

main.graph {
    height: 100%;

    /* display: flex;
    gap: 2rem;
    justify-content: center; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    gap: 1rem;

    position: relative;
}

/* ANCHOR Graph Bottom Line */

main.graph::after {
    content: '';
    width: 94.5%;
    /* height: .01rem; */

    border-top: 0.1rem dashed var(--black);

    bottom: 10.2%;
    right: 2.75%;

    position: absolute;

    /* background-color: var(--black); */
}

.bars {
    position: relative;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
    gap: 0.5rem;

    justify-content: center;
}

.bar {
    grid-row: 1 / 10;
    width: max(20px, 5rem);
}

.bar.info {
    position: absolute;

    background: linear-gradient(130deg, var(--info), var(--dark-info));
}


.bar.warning {
    z-index: 3;

    position: absolute;

    background: linear-gradient(130deg, var(--warning), var(--dark-warning));
}

.bar.error {
    z-index: 4;

    position: absolute;

    background: linear-gradient(130deg, var(--error), var(--dark-error));
}

.bar.fatal {
    z-index: 5;

    position: absolute;

    background: linear-gradient(130deg, var(--critical), var(--dark-critical));
}

.bar.name {
    grid-row: 10 / -1;
    align-self: start;

    margin: 0;

    font-size: 0.8rem;
    font-weight: 700;

    position: absolute;

    text-align: center;
}

/* !SECTION */

/* SECTION Recents */

section.recents.main {
    margin-top: 1rem;

    max-height: 269px;

    font-size: .9rem;

    background-color: var(--light-gray);

    /* flex: 0 2 100%; */
    /* flex: 1 0 calc(100%*1/3); */
    flex-grow: 1;
    flex-basis: calc(100vw*.78/3);

    display: flex;
    flex-flow: column;
}

.recents.body {
    display: flex;
    flex-flow: column wrap;
    gap: .2rem;

    overflow-y: auto;

}

.recents.main>h3 {
    margin: 0 .5rem 0 0;
    padding: 1rem 0 1rem 1rem;

    background-color: var(--light-gray);
}

div.recent {
    display: flex;
    align-items: center;
}

.recent.check {
    margin: .8rem;
}

.recent.text {
    margin: .2rem;

    font-weight: 500;
}

.recent.none {
    text-align: center;
    padding: 1rem;

    display: flex;

    justify-content: center;

    box-shadow: inset 0px 2px 7px -5px rgba(0, 0, 0, 0.1);

    font-weight: 600;
    opacity: .6;
}

/* ANCHOR Recent Addition */

.recents.element.add {
    display: flex;
    flex-flow: row no-wrap;
    gap: .5rem;
    justify-content: space-between;

    margin: 0 .5rem 0 0;
    padding: 0 .5rem .5rem 1rem;

    background-color: var(--light-gray);
}

.recents.element.add * {
    font-family: 'Red Hat Display', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    -webkit-appearance: none;
    appearance: none;

    background-color: var(--white);

    border-radius: 5px;

    height: 2.25rem;
}

.recents.element.add input {
    flex: 1;

    width: 1rem;

    padding: 0 .8rem;
    font-family: 'Red Hat Display', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    border: 1px solid var(--light-gray);

    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px inset;
}

.recents.element.add input:focus-visible,
.recents.element.add input:hover {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px inset;
}

.recents.element.add select {
    text-align: center;

    padding: 0 .5rem;

    border: none;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px inset;
}

.recents.element.add select:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px inset;
}

.recents.element.add select.info-select {
    background: var(--info);
    color: var(--dark-info);
}

.recents.element.add select.warning-select {
    background: var(--warning);
    color: var(--dark-warning);
}

.recents.element.add select.error-select {
    background: var(--error);
    color: var(--gray);
}

.recents.element.add select.fatal-select {
    background: var(--critical);
    color: var(--light-gray);
}

.recents.element.add select option {
    text-align: center;

    padding: 0 1rem;
}

.recents.element.add select:focus-visible {
    outline: none;
}

.recents.element.add button {
    width: 2.25rem;

    border-radius: 50%;
    border: none;

    background: var(--light-gray) url(./assets/web/icon-other/plus-solid.svg) no-repeat center/50%;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px inset;
}

.recents.element.add button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px inset;

}

select#alert-level option[value="info"] {
    background: var(--info);
    color: var(--dark-info);
}

select#alert-level option[value="warning"] {
    background-color: var(--warning);
    color: var(--dark-warning);
}

select#alert-level option[value="error"] {
    background-color: var(--error);
    color: var(--gray);
}

select#alert-level option[value="fatal"] {
    background-color: var(--critical);
    color: var(--light-gray);
}

/* ANCHOR Checkbox Styling */

input[type="checkbox"] {
    appearance: none;

    width: 1rem;
    height: 1rem;

    background-color: var(--white);

    border: 1px solid var(--black);
    border-radius: 15%;
    cursor: pointer;
}

input[type="checkbox"]:hover {
    border: 3px solid var(--black);
}

input[type="checkbox"]:checked+label {
    text-decoration: line-through;
}

input[type="checkbox"].info-tag:checked {
    background-color: var(--info);
}

input[type="checkbox"].warning-tag:checked {
    background-color: var(--warning);
}

input[type="checkbox"].error-tag:checked {
    background-color: var(--error);
}

input[type="checkbox"].fatal-tag:checked {
    background-color: var(--critical);
}


/* ANCHOR Recents Tags + Results Tags */
label.recent::after,
.result.find::after {
    content: attr(data-type);
    font-size: .65rem;

    border-radius: 2rem;
    margin: 0 .5rem;
    padding: .2rem .6rem;
}

label.recent.info-tag::after,
.result.find.info-tag::after {
    background-color: var(--info);
    color: var(--dark-info);
}

label.recent.warning-tag::after,
.result.find.warning-tag::after {
    background-color: var(--warning);
    color: var(--dark-warning);
}

label.recent.error-tag::after,
.result.find.error-tag::after {
    background-color: var(--error);
    color: var(--gray);

}

label.recent.fatal-tag::after,
.result.find.fatal-tag::after {
    background-color: var(--critical);
    color: var(--light-gray);
}

/* !SECTION */

/* !SECTION */

/* !SECTION */

/* SECTION Footer */

footer {
    /* height: 1.5rem; */
    width: 100%;
    margin: auto;

    grid-area: footer;
    justify-self: center;

    font-size: .75rem;
    text-align: center;
}

footer p {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.icon.footer {
    padding: 0;
    height: 2rem;

    filter: invert(0);
}

/* !SECTION */