* {
    /* outline: 1px solid red; */
}

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    --white: #F9F6F7;

    --light-gray: #F9F6F7;
    --gray: #c1c1c9;
    --dark-gray: #6a6864;

    --black: #151514;

    --alert: #150E56;
    --dark-alert: #0e0937;

    --warning: #F78812;
    --dark-warning: #7f470b;

    --error: #AF2D2D;
    --dark-error: #5e1919;

    --critical: #630606;
    --dark-critical: #300303;

    --dark-green: #243D25;
    --dark-red: #2D132C;

    --bright-red: #FF1E00;
    --bright-green: #6cdf15;
    --bright-yellow: #ffdf52;
}

body {
    margin: 0;
    height: 100vh;

    color: var(--black);

    display: grid;
    grid-template-columns: minmax(80px, 5vw) 2fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "nav header header"
        "nav main main"
        "nav main main"
        "nav main main"
        "nav footer footer";
}

img.icon {
    width: 1.5rem;
    height: 1.5rem;

    padding: .5rem;
    margin: auto;

    filter: invert(.25);
}

/* SECTION Header */

header {
    grid-area: header;
}

header section.top {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1fr 1fr .25fr 1.25fr;
    grid-template-areas:
        "search search . . notification profile";
    gap: 1rem
}

#search {
    height: 2rem;
    margin: 1rem;

    grid-area: search;
    align-self: center;

    border-radius: 50px;
}

div.notification {
    grid-area: notification;
    align-self: center;
    justify-self: center;

    display: flex;
    align-items: center;

    border-radius: 50%;
    border: .2rem solid var(--light-gray);

}

.profile {
    grid-area: profile;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.profile.image {
    width: 3rem;
    height: 3rem;

    margin: .5rem;
    padding: 0;

    border-radius: 50%;
    border: .3rem solid var(--light-gray);

    box-sizing: border-box;
}


header section.bottom {
    margin: 0 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: clamp(50px, 5rem, 500px)
}

div.title {
    display: flex;
    align-items: center;
    gap: .5rem;

    flex-basis: 50%;
}

img.profile.main {
    width: 6rem;
    height: 6rem;
}

.greeting>h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.greeting>h4 {
    margin-top: 0;
}

.header.icons {
    display: flex;
    align-items: center;
    gap: 1.5em;

}

button.icon {
    width: 4rem;

    box-sizing: border-box;

    padding: 0;

    border: .2rem solid var(--light-gray);
    border-radius: 50rem;

    background-color: var(--light-gray);

    display: flex;
    align-items: center;
    justify-content: center;
}

img.header.icon {
    height: 1.1rem;
    width: 1.1rem;

    padding: .2rem;
}

/* !SECTION */

/* SECTION Navigation */


ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav {
    min-width: max-content;
    grid-area: nav;
    position: relative;

    overflow: hidden;

    transition: all .5s ease;

    z-index: 100;



}

nav:hover {
    overflow: visible;
}

div.nav {
    height: 100%;
    min-width: max-content;

    display: flex;
    flex-flow: column nowrap;

    overflow: hidden;

    position: absolute;

    background-color: var(--light-gray);
}

.nav.struct {
    display: grid;
    grid-template-columns: minmax(80px, 5vw) 1fr .1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    gap: 1em;
}

.struct.logo {
    margin-top: 0.5rem;
}

.struct.logout {
    margin-bottom: 0.5rem;
}

.nav>img {
    margin: 1rem .5rem;
    padding: 0;
    width: max(40px, 3.5vw);
}

.nav>.text {
    /* margin-left: 3rem; */
    justify-self: start;
}

.nav.top,
.nav.bottom {
    margin-top: auto;
}

p.alert.text {
    padding-left: .8rem;
}

/* !SECTION */

/* SECTION Main */

main.body {
    margin: 0.5rem;
    grid-area: main;

    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    /* grid-template: repeat(4, 1fr) / repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-areas: "alert alert alert"
        "graph graph recents"
        "graph graph recents"
        "graph graph recents";
    gap: 2rem;

    overflow-y: auto;
}

/* SECTION Alert */
section.alert {
    margin: .5rem;
    padding: .5rem;
    grid-area: alert;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.alert.overview {
    display: grid;
    grid-template-columns: 3rem repeat(2, 1fr) 1fr;
    grid-template-rows: 1fr .5fr;
    align-items: center;
    justify-content: start;
}

.alert.icon {
    grid-column: 1 / 2;
}

.alert.number {
    font-size: 3rem;
    margin: 0;

    grid-column: 2;
}

.alert.text {
    margin: 0;

    grid-column: 1 / 4;
    grid-row: 2;
}

.alert.arrow {
    grid-column: 4;
    grid-row: 1 / -1;

    height: 3rem;
    width: 3rem;
}

.alert.in {
    margin-top: 1rem;
    margin-bottom: -2rem;
}

/* !SECTION */

/* SECTION Graph */

section.graph {
    grid-area: graph;
    padding: 1rem;

}

main.graph {
    height: 100%;

    /* display: flex;
    gap: 2rem;
    justify-content: center; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    gap: 1rem;
}

.bars {
    height: 100%;
    width: 100%;

    position: relative;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
    gap: 0.5rem;

    justify-content: center;
}

.bar {
    grid-row: 1 / 10;
    width: max(20px, 4rem);
}

.bar.count {
    position: absolute;

    background: linear-gradient(130deg, var(--light-gray), var(--gray), var(--dark-gray));
}


.bar.warning {
    z-index: 3;

    position: absolute;

    background: linear-gradient(130deg, var(--warning), var(--dark-warning));

}

.bar.error {
    z-index: 4;

    position: absolute;

    background: linear-gradient(130deg, var(--error), var(--dark-error));

}

.bar.critical {
    z-index: 5;

    position: absolute;

    background: linear-gradient(130deg, var(--critical), var(--dark-critical));
}

.bar.name {
    grid-row: 10 / -1;
    align-self: start;

    margin: 0;

    font-size: 0.8rem;

    position: absolute;

    text-align: center;
}

/* !SECTION */

/* SECTION Recents */

section.recents {
    grid-area: recents;
}

.recents {
    overflow-y: auto;
}

.recents>h3 {
    margin: 0;
    padding: .8rem;

    position: sticky;
    top: 0;
}

div.recent {
    display: flex;
}

.recent.check {
    margin: .8rem;
    align-items: center;
}

.recent.text {
    margin: .2rem;
    align-items: center;
}

/* !SECTION */

/* !SECTION */

/* SECTION Footer */

footer {
    /* height: 1.5rem; */
    width: 100%;
    margin: auto;

    grid-area: footer;
    justify-self: center;

    font-size: .75rem;
    text-align: center;
}

footer p {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.icon.footer {
    padding: 0;
    height: 2rem;
}