* {
    outline: 1px solid red
}

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: minmax(80px, 6vw) 2fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "nav header header"
        "nav main main"
        "nav main main"
        "nav main main"
        "nav footer footer";
}

/* SECTION Header */

header {
    grid-area: header;
}

header section.top {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "search search . . notification profile";
    gap: 1rem
}

#search {
    height: 2rem;
    margin: 1rem;

    grid-area: search;
    align-self: center;

    border-radius: 50px;
}

.notification {
    grid-area: notification
}

.profile {
    grid-area: profile;
    display: flex;

    align-items: stretch;
}

header section.bottom {
    margin: 0 1rem;

    display: flex;
    justify-content: space-between;
    gap: clamp(50px, 5rem, 500px)
}

.title>h2,
.title>h4 {
    margin: 0.5rem;
}

.header.icons {
    display: flex;
    align-items: center;
    gap: 1em;
}

button.icon-label {
    border: 1px solid black;
    border-radius: 50%;
}

/* !SECTION */

/* SECTION Navigation */


ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav {
    min-width: max-content;
    grid-area: nav;
    position: relative;

    overflow: hidden;

    transition: all .5s ease;
}

nav:hover {
    overflow: visible;
}

div.nav {
    height: 100%;
    min-width: max-content;

    display: flex;
    flex-flow: column nowrap;

    overflow: hidden;

    position: absolute;
}

.nav.struct {
    display: grid;
    grid-template-columns: minmax(80px, 6vw) 1fr .1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    gap: 1em;
}

.struct.logo {
    margin-top: 0.5rem;
}

.struct.logout {
    margin-bottom: 0.5rem;
}

.nav>img {
    margin: 1em;
    width: max(40px, 3.5vw);
}

.nav>.text {
    /* margin-left: 3rem; */
    justify-self: start;
}

.nav.top,
.nav.bottom {
    margin-top: auto;
}

/* !SECTION */

/* SECTION Main */

main.body {
    margin: 0.5rem;
    grid-area: main;

    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    /* grid-template: repeat(4, 1fr) / repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-areas: "alert alert alert"
        "graph graph recents"
        "graph graph recents"
        "graph graph recents";
    gap: 1.5rem;

    overflow-y: auto;
}

/* SECTION Alert */
section.alert {
    margin: .5rem;
    grid-area: alert;

    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 1rem;
}

.alert.overview {
    display: grid;
    grid-template-areas:
        "logo number graph"
        "text text graph"
}

.alert.number {
    font-size: 3rem;
    margin: 0;

    grid-area: number;
}

.alert.text {
    margin: 0;

    grid-area: text;
}

.alert.logo {
    grid-area: logo;
}

.alert.graph {
    grid-area: graph
}

.alert.in {
    margin-top: 1rem;
    margin-bottom: -1rem;
}

/* !SECTION */

/* SECTION Graph */

section.graph {
    grid-area: graph;
    padding: 1rem;

}

main.graph {
    height: 100%;

    /* display: flex;
    gap: 2rem;
    justify-content: center; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
}

.bars {
    height: 100%;
    width: 100%;

    position: relative;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
    gap: 0.5rem;

    justify-content: center;
}

.bar {
    grid-row: 1 / 10;
    width: max(20px, 4rem);
}

.bar.count {
    position: absolute;

    height: 100%;

    background-color: gray;
}


.bar.warning {
    z-index: 3;

    height: 70%;

    position: absolute;

    background-color: orange;

}

.bar.error {
    z-index: 4;

    height: 40%;

    position: absolute;

    background-color: red;

}

.bar.critical {
    z-index: 5;

    height: 30%;

    position: absolute;

    background-color: brown;

}

.bar.name {
    grid-row: 10 / -1;
    align-self: start;

    margin: 0;

    font-size: 0.8rem;

    position: absolute;

    text-align: center;
}

/* !SECTION */

/* SECTION Recents */

section.recents {
    grid-area: recents;
}

.recents {
    overflow-y: auto;
}

.recents>h3 {
    margin: 0;
    padding: .8rem;

    position: sticky;
    top: 0;
}

div.recent {
    display: flex;
}

.recent.check {
    margin: .8rem;
    align-items: center;
}

.recent.text {
    margin: .2rem;
    align-items: center;
}

/* !SECTION */

/* !SECTION */

/* SECTION Footer */

footer {
    /* height: 1.5rem; */
    width: 100%;
    margin: auto;

    grid-area: footer;
    justify-self: center;

    font-size: .75rem;
    text-align: center;
}

footer p {
    margin: 0;
}